
.card-enter{
    opacity: 0;
    transform: rotateY(-20px);
}

.card-enter-active{
    opacity: 1;
    transform: rotateY(0px);
    transition: all 400ms ease-in;
}

.card-enter-done{
    opacity: 1;
    transform: translateY(0px);
}


.card-exit{
    opacity: 1;
    transform: translateY(0px)
}

.card-exit-active{
    opacity: 0;
    transform: translateY(-20px);
    transition: all 400ms ease-in;
}

.card-exit-done{
    opacity: 0;
    transform: translateY(0px);
}